html {
  background-color: #f2f2f2;
}
.bg {
  background-color: #ffffff;
  border-radius: 32px;
  border-width: 0px;
}
button {
  background-color: #555555;
  color: #ffffff;
  border-radius: 24px;
  border-width: 0px;
  padding: 16px 24px
}
