html {
  background-color: #f3f6f8;
}
.whitebackground {
  background-color: #ffffff;
  border-radius: 32px;
  border-width: 0px;
}
button {
  background-color: #618bff;
  color: #ffffff;
  border-radius: 20px;
  border-width: 0px;
  padding: 12px 32px
}
